<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mapfinderme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B66E9CC1D5C79FC00FD95CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B66E9E01D5C79FD00FD95CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B66E9EB1D5C79FD00FD95CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
